In [17]:
test1=pd.read_csv('test.csv')

In [18]:
test1.head()

   row_id                 time  x  y direction
0  848835  1991-09-30 12:00:00  0  0        EB
1  848836  1991-09-30 12:00:00  0  0        NB
2  848837  1991-09-30 12:00:00  0  0        SB
3  848838  1991-09-30 12:00:00  0  1        EB
4  848839  1991-09-30 12:00:00  0  1        NB

In [19]:
test1['time']=pd.to_datetime(test1['time'])

In [20]:
def date_time_scrap(df):
    df['Month']=df.time.dt.month
    df['Day']=df.time.dt.day
    df['Week']=df.time.dt.week
    df['Hour']=df.time.dt.hour
    df['Weekday'] = df.time.dt.weekday
    df['Friday']=np.where((df['Weekday'] == 4), 1, 0)
    df['Weeked']=np.where((df['Weekday'] == 5) | (df['Weekday'] == 6), 1, 0)
#     df['Friday_Eve']=np.where((df['Friday']==1 & df.time.dt.hour>16),1,0)
    df['Quarter']=df.time.dt.quarter
    df['Morning']= np.where(6 <= df['Hour'] & (df['Hour'] < 12), 1, 0)
    df['Evening']= np.where(18 <= df['Hour'] & (df['Hour'] < 23), 1, 0)
    df['Afternoon']= np.where(12 <= df['Hour'] & (df['Hour'] < 18), 1, 0)
    df['Night']=np.where(0 <= df['Hour'] & (df['Hour'] < 6), 1, 0)
    df['Office_Exit']=np.where((df.time.dt.hour>19),1,0)
    df['Minute']=df.time.dt.minute
    return df

In [21]:
test2=test1.copy()

In [22]:
test3=date_time_scrap(test2)

<ipython-input-20-593ef71b264b>:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['Week']=df.time.dt.week

In [23]:
test3.head()

,row_id,time,x,y,direction,Month,Day,Week,Hour,Weekday,Friday,Weeked,Quarter,Morning,Evening,Afternoon,Night,Office_Exit,Minute
0,848835,1991-09-30 12:00:00,0,0,EB,9,30,40,12,0,0,0,3,0,0,0,1,0,0
1,848836,1991-09-30 12:00:00,0,0,NB,9,30,40,12,0,0,0,3,0,0,0,1,0,0
2,848837,1991-09-30 12:00:00,0,0,SB,9,30,40,12,0,0,0,3,0,0,0,1,0,0
3,848838,1991-09-30 12:00:00,0,1,EB,9,30,40,12,0,0,0,3,0,0,0,1,0,0
4,848839,1991-09-30 12:00:00,0,1,NB,9,30,40,12,0,0,0,3,0,0,0,1,0,0

In [24]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
test3['direction']=lb.fit_transform(test3['direction'])

In [25]:
test4=test3.drop(['time','row_id'],axis=1)

In [26]:
test4.head()

,x,y,direction,Month,Day,Week,Hour,Weekday,Friday,Weeked,Quarter,Morning,Evening,Afternoon,Night,Office_Exit,Minute
0,0,0,0,9,30,40,12,0,0,0,3,0,0,0,1,0,0
1,0,0,1,9,30,40,12,0,0,0,3,0,0,0,1,0,0
2,0,0,4,9,30,40,12,0,0,0,3,0,0,0,1,0,0
3,0,1,0,9,30,40,12,0,0,0,3,0,0,0,1,0,0
4,0,1,1,9,30,40,12,0,0,0,3,0,0,0,1,0,0

In [27]:
test4.to_csv('test_cleaned.csv')